In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("xAPI-Edu-Data.csv")
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [3]:
del df["gender"]

In [4]:
df.head()

,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [5]:
del df["ParentschoolSatisfaction"]

In [6]:
F_sem = df[df['Semester'] == 'F']

In [7]:

S_sem = df[df['Semester'] == 'S']

In [8]:
S_sem.head()

,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,StudentAbsenceDays,Class
132,KW,KuwaIT,lowerlevel,G-02,C,IT,S,Father,0,3,10,3,No,Above-7,L
133,KW,KuwaIT,lowerlevel,G-02,A,IT,S,Father,12,60,0,70,Yes,Above-7,L
134,KW,KuwaIT,MiddleSchool,G-07,A,Quran,S,Father,80,80,15,70,Yes,Under-7,H
135,Egypt,Egypt,MiddleSchool,G-07,A,Quran,S,Mum,70,80,95,70,Yes,Under-7,H
136,KW,USA,HighSchool,G-11,A,Quran,S,Mum,70,80,95,70,Yes,Under-7,H

In [9]:
F_sem_topics = set(F_sem['Topic'])

In [10]:
F_sem_topics

{'Arabic',
 'Biology',
 'Chemistry',
 'English',
 'French',
 'Geology',
 'History',
 'IT',
 'Math',
 'Quran',
 'Science'}

In [11]:
F_sem_topics = list(F_sem_topics)
for i in range(len(F_sem_topics)):
    F_sem_topics[i] = "F_sem_" + F_sem_topics[i]
    print(F_sem_topics[i])

F_sem_Chemistry
F_sem_English
F_sem_Biology
F_sem_Quran
F_sem_Math
F_sem_History
F_sem_French
F_sem_IT
F_sem_Geology
F_sem_Arabic
F_sem_Science

In [12]:
F_sem_topics
courses = F_sem_topics[:]

In [13]:
F_sem_topics[0]

'F_sem_Chemistry'

In [14]:
for i in range(len(F_sem_topics)):
    F_sem_topics[i] = F_sem[F_sem['Topic'] == F_sem_topics[i].split('_')[2]]

In [15]:
arabic_data = F_sem_topics[4]

In [16]:
# for i in range(len(courses)):
#     F_sem_topics[i].to_csv(courses[i]+".csv")

In [17]:
arabic_data

,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,StudentAbsenceDays,Class
6,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Above-7,L
7,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Under-7,M
8,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Under-7,M
10,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Under-7,H
11,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Yes,Under-7,M
13,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,20,14,12,19,No,Above-7,L
14,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,62,70,44,60,No,Above-7,H
17,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,55,13,35,90,No,Above-7,M
55,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,16,14,6,20,Yes,Above-7,L
56,USA,USA,MiddleSchool,G-08,B,Math,F,Father,19,5,4,1,Yes,Above-7,L
57,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,5,2,6,5,Yes,Above-7,L
58,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,28,60,19,50,Yes,Under-7,M
59,USA,USA,MiddleSchool,G-07,A,Math,F,Father,27,22,22,40,No,Under-7,M
72,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,11,2,2,8,No,Under-7,L
79,lebanon,lebanon,MiddleSchool,G-07,B,Math,F,Mum,80,90,49,55,Yes,Under-7,H
80,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,8,15,10,40,Yes,Under-7,L

In [18]:
assignment_marks = "AnnouncementsView"

In [19]:
arabic_data['AnnouncementsView'].corr(arabic_data['Discussion'])

0.7714836149792392

In [20]:
biology_Data = F_sem_topics[0]

In [21]:
biology_Data

,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,StudentAbsenceDays,Class
420,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Mum,82,89,22,31,Yes,Under-7,H
426,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Mum,80,80,62,11,Yes,Above-7,M
428,Jordan,SaudiArabia,MiddleSchool,G-08,A,Chemistry,F,Father,10,0,2,41,No,Above-7,L
434,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Mum,85,87,72,10,Yes,Above-7,M
438,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Mum,80,82,76,19,Yes,Under-7,M
444,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Mum,75,72,64,39,Yes,Above-7,L
450,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,15,97,22,10,Yes,Under-7,H
456,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,85,90,52,30,Yes,Under-7,H
458,Iraq,Iraq,MiddleSchool,G-08,A,Chemistry,F,Father,90,91,80,81,Yes,Under-7,H
464,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Mum,85,99,42,90,Yes,Under-7,H
468,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,15,9,14,80,No,Above-7,L
474,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,2,7,4,8,No,Above-7,L

In [22]:
biology_Data['raisedhands'].corr(biology_Data['Discussion'])

0.13298493692517768

In [23]:
arabic_data

,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,StudentAbsenceDays,Class
6,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Above-7,L
7,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Under-7,M
8,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Under-7,M
10,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Under-7,H
11,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Yes,Under-7,M
13,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,20,14,12,19,No,Above-7,L
14,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,62,70,44,60,No,Above-7,H
17,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,55,13,35,90,No,Above-7,M
55,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,16,14,6,20,Yes,Above-7,L
56,USA,USA,MiddleSchool,G-08,B,Math,F,Father,19,5,4,1,Yes,Above-7,L
57,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,5,2,6,5,Yes,Above-7,L
58,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,28,60,19,50,Yes,Under-7,M
59,USA,USA,MiddleSchool,G-07,A,Math,F,Father,27,22,22,40,No,Under-7,M
72,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,11,2,2,8,No,Under-7,L
79,lebanon,lebanon,MiddleSchool,G-07,B,Math,F,Mum,80,90,49,55,Yes,Under-7,H
80,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,8,15,10,40,Yes,Under-7,L

In [24]:
data = arabic_data

In [44]:
del(data['ParentAnsweringSurvey'])

In [45]:
data

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays
6,35,12,0,17,Above-7
7,50,10,15,22,Under-7
8,12,21,16,50,Under-7
10,50,88,30,80,Under-7
11,19,6,19,12,Under-7
13,20,14,12,19,Above-7
14,62,70,44,60,Above-7
17,55,13,35,90,Above-7
55,16,14,6,20,Above-7
56,19,5,4,1,Above-7
57,5,2,6,5,Above-7
58,28,60,19,50,Under-7
59,27,22,22,40,Under-7
72,11,2,2,8,Under-7
79,80,90,49,55,Under-7
80,8,15,10,40,Under-7

In [46]:
data.rename(columns={'':'SID', 'raisedhands': 'mid1', 'VisITedResources': 'mid2', 'AnnouncementsView':'lab', 'Discussion':'project'}, inplace=True)

/home/siddhant/.local/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [77]:
data

    mid1  mid2  lab  project StudentAbsenceDays
6     35    12    0       17            Above-7
7     50    10   15       22            Under-7
8     12    21   16       50            Under-7
10    50    88   30       80            Under-7
11    19     6   19       12            Under-7
13    20    14   12       19            Above-7
14    62    70   44       60            Above-7
17    55    13   35       90            Above-7
55    16    14    6       20            Above-7
56    19     5    4        1            Above-7
57     5     2    6        5            Above-7
58    28    60   19       50            Under-7
59    27    22   22       40            Under-7
72    11     2    2        8            Under-7
79    80    90   49       55            Under-7
80     8    15   10       40            Under-7

In [78]:
data.to_csv('arabic'+'.csv')

In [82]:
loaddata = pd.read_csv('arabic.csv')
loaddata.columns.values[0] = 'SID'
loaddata

    SID  mid1  mid2  lab  project StudentAbsenceDays
0     6    35    12    0       17            Above-7
1     7    50    10   15       22            Under-7
2     8    12    21   16       50            Under-7
3    10    50    88   30       80            Under-7
4    11    19     6   19       12            Under-7
5    13    20    14   12       19            Above-7
6    14    62    70   44       60            Above-7
7    17    55    13   35       90            Above-7
8    55    16    14    6       20            Above-7
9    56    19     5    4        1            Above-7
10   57     5     2    6        5            Above-7
11   58    28    60   19       50            Under-7
12   59    27    22   22       40            Under-7
13   72    11     2    2        8            Under-7
14   79    80    90   49       55            Under-7
15   80     8    15   10       40            Under-7

In [86]:
loaddata

    SID  mid1  mid2  lab  project StudentAbsenceDays
0     6    35    12    0       17            Above-7
1     7    50    10   15       22            Under-7
2     8    12    21   16       50            Under-7
3    10    50    88   30       80            Under-7
4    11    19     6   19       12            Under-7
5    13    20    14   12       19            Above-7
6    14    62    70   44       60            Above-7
7    17    55    13   35       90            Above-7
8    55    16    14    6       20            Above-7
9    56    19     5    4        1            Above-7
10   57     5     2    6        5            Above-7
11   58    28    60   19       50            Under-7
12   59    27    22   22       40            Under-7
13   72    11     2    2        8            Under-7
14   79    80    90   49       55            Under-7
15   80     8    15   10       40            Under-7

In [131]:
def createrequireddata(loaddata):
    new_df = pd.DataFrame(columns=['exam_type', 'SID', 'student_name','marks', 'attendence'])
    rowIndex = 0
    for i in range(1,4):
        for j in range(len(loaddata)): 
            new_df.loc[rowIndex, 'marks'] = loaddata.loc[j][i]
            new_df.loc[rowIndex, 'exam_type'] = loaddata.columns.values[i]
            new_df.loc[rowIndex, 'SID'] = loaddata.loc[j][0]
            new_df.loc[rowIndex, 'attendence'] = loaddata.loc[j][4]
            rowIndex+=1
    return new_df        
            
createrequireddata(loaddata)

ValueError: Incompatible indexer with Series

In [129]:
loaddata.loc[0][2]
len(loaddata)

16

In [130]:
new_df.to_csv('final_arabic_data.csv')