In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("xAPI-Edu-Data.csv")
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [11]:
del df["gender"]

In [12]:
df.head()

,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [24]:
del df["ParentschoolSatisfaction"]

In [29]:
F_sem = df[df['Semester'] == 'F']

In [30]:

S_sem = df[df['Semester'] == 'S']

In [32]:
S_sem.head()

,GradeID,SectionID,Topic,Semester,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,Class
132,G-02,C,IT,S,0,3,10,3,Above-7,L
133,G-02,A,IT,S,12,60,0,70,Above-7,L
134,G-07,A,Quran,S,80,80,15,70,Under-7,H
135,G-07,A,Quran,S,70,80,95,70,Under-7,H
136,G-11,A,Quran,S,70,80,95,70,Under-7,H

In [95]:
F_sem_topics = set(F_sem['Topic'])

In [96]:
F_sem_topics

{'Arabic',
 'Biology',
 'Chemistry',
 'English',
 'French',
 'Geology',
 'History',
 'IT',
 'Math',
 'Quran',
 'Science'}

In [97]:
F_sem_topics = list(F_sem_topics)
for i in range(len(F_sem_topics)):
    F_sem_topics[i] = "F_sem_" + F_sem_topics[i]
    print(F_sem_topics[i])

F_sem_Biology
F_sem_English
F_sem_History
F_sem_French
F_sem_Chemistry
F_sem_Quran
F_sem_Geology
F_sem_IT
F_sem_Arabic
F_sem_Math
F_sem_Science

In [98]:
F_sem_topics
courses = F_sem_topics[:]

In [99]:
F_sem_topics[0]

'F_sem_Biology'

In [100]:
for i in range(len(F_sem_topics)):
    F_sem_topics[i] = F_sem[F_sem['Topic'] == F_sem_topics[i].split('_')[2]]

In [101]:
F_sem_topics[4]

,GradeID,SectionID,Topic,Semester,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,Class
420,G-08,A,Chemistry,F,82,89,22,31,Under-7,H
426,G-08,A,Chemistry,F,80,80,62,11,Above-7,M
428,G-08,A,Chemistry,F,10,0,2,41,Above-7,L
434,G-08,A,Chemistry,F,85,87,72,10,Above-7,M
438,G-08,A,Chemistry,F,80,82,76,19,Under-7,M
444,G-08,A,Chemistry,F,75,72,64,39,Above-7,L
450,G-08,A,Chemistry,F,15,97,22,10,Under-7,H
456,G-08,A,Chemistry,F,85,90,52,30,Under-7,H
458,G-08,A,Chemistry,F,90,91,80,81,Under-7,H
464,G-08,A,Chemistry,F,85,99,42,90,Under-7,H
468,G-08,A,Chemistry,F,15,9,14,80,Above-7,L
474,G-08,A,Chemistry,F,2,7,4,8,Above-7,L

In [102]:
for i in range(len(courses)):
    F_sem_topics[i].to_csv(courses[i]+".csv")